asgiref==3.8.1
Django==5.1
django-otp==1.5.2
djangorestframework==3.15.2
numpy==2.1.0
opencv-python==4.10.0.84
pandas==2.2.2
pillow==10.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
sqlparse==0.5.1
tzdata==2024.1
